.body {
    background-color: rgb(23, 23, 23);
}

.container-fluid {
    height: 60px;
}

.heading {
    margin-top: 130px;
    text-align: center;
    color: white;
    font-size: 60px;
} 

#top-right-heading {
    font-size: 35px;
}

#nav-link-button {
    font-size: 18px ;
    margin-left: 10px;
}


.Greenshild-heading {
    margin-top: 260px;
    margin-left: 130px;
    color: white;
}

.Greenshild-subheading {
    font-size:30px;
    margin-left: 130px;
    color:#5a57576d;
}

#Greenshild-button {
    margin-left: 130px;
    height: 50px;
    width: 80px;
    font-size: 20px;
}

#navbarSupportedContent {
    font-size: 20px;
    margin-left: 30px;
}

.recycle-locator-heading {
    color: white;   
    margin-top: 400px;
    margin-left: 130px;
}

#recycle-locator-button {
    margin-left: 130px;
    height: 50px;
    width: 140px;
    font-size: 20px;
}

.img_pfp {
    height: 100px;
    width: 100px;
}