/* General Styles */
body {
    font-family: Arial, sans-serif;
    padding: 0;
    color: #ffffff;
  }
  
  .body {
    background-color: rgb(23, 23, 23);
  }
  
  main {
    max-width: 600px;
    margin: 20px auto;
    padding: 20px;
    background: #242424;
    border-radius: 8px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    margin-top: 200px;
    color: white;
  }
  
  input, button {
    width: 100%;
    padding: 10px;
    margin: 10px 0;
    font-size: 16px;
    border-radius: 4px;
    border: 1px solid #ccc;
  }
  
  button {
    background: #007BFF;
    color: rgb(56, 53, 53);
    border: none;
    cursor: pointer;
  }
  
  button:hover {
    background: #0056b3;
  }
  
  #results {
    margin-top: 20px;
  }
  
  .hidden {
    display: none;
  }
  
  footer {
    text-align: center;
    padding: 10px;
    background:rgb(20, 20, 20);
    margin-top: 20px;
    color: white;
    margin-top: 300px;
  }
  
  .label {
    font-size: 15px;
    margin-bottom: 30px;
  }

  .heading {
    color: white;
  }